*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: cursive;
    background-color: rgb(4, 29, 29);
}
.main{
    width: 360px;
    /* height: 333px; */
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 5vmax;
    border-radius: 3px;
    padding-bottom: 1vmax;
}
.inputs input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(6, 145, 145);
    outline: none;
}
button{
    width: 60px;
    height: 35px;
    background-color: rgb(4, 29, 29);
    color: #fff;
    border-radius: 2px;
    font-size: 19px;
    border: none;
    outline: none;
    cursor: pointer;
}
.text ul{
    position: relative;
    background-color: rgb(5, 31, 31);
    color: #fff;
    text-align: left;
    padding: 7px;
    margin: 2vmax;
    font-size: 19px;
}
.text ul i{
    position: absolute;
    right: 10px;
    
    cursor: pointer;
}